BWQSClient/BWQSClient/Web References/BWQS/BWQS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BWQS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4165/BWQS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4165/BWQS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4165/BWQS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Linq.Dynamic.BitWise.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBWQS_Initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="IBWQS_Initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IBWQS_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IBWQS_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IBWQS_Where_InputMessage">
    <wsdl:part name="parameters" element="tns:Where" />
  </wsdl:message>
  <wsdl:message name="IBWQS_Where_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhereResponse" />
  </wsdl:message>
  <wsdl:message name="IBWQS_OrderBy_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderBy" />
  </wsdl:message>
  <wsdl:message name="IBWQS_OrderBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderByResponse" />
  </wsdl:message>
  <wsdl:message name="IBWQS_OrderByDescending_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderByDescending" />
  </wsdl:message>
  <wsdl:message name="IBWQS_OrderByDescending_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderByDescendingResponse" />
  </wsdl:message>
  <wsdl:message name="IBWQS_GroupBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupBy" />
  </wsdl:message>
  <wsdl:message name="IBWQS_GroupBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupByResponse" />
  </wsdl:message>
  <wsdl:message name="IBWQS_GetGroupResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupResult" />
  </wsdl:message>
  <wsdl:message name="IBWQS_GetGroupResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IBWQS">
    <wsdl:operation name="Initialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IBWQS/Initialize" message="tns:IBWQS_Initialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBWQS/InitializeResponse" message="tns:IBWQS_Initialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IBWQS/Query" message="tns:IBWQS_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBWQS/QueryResponse" message="tns:IBWQS_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Where">
      <wsdl:input wsaw:Action="http://tempuri.org/IBWQS/Where" message="tns:IBWQS_Where_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBWQS/WhereResponse" message="tns:IBWQS_Where_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IBWQS/OrderBy" message="tns:IBWQS_OrderBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBWQS/OrderByResponse" message="tns:IBWQS_OrderBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderByDescending">
      <wsdl:input wsaw:Action="http://tempuri.org/IBWQS/OrderByDescending" message="tns:IBWQS_OrderByDescending_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBWQS/OrderByDescendingResponse" message="tns:IBWQS_OrderByDescending_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IBWQS/GroupBy" message="tns:IBWQS_GroupBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBWQS/GroupByResponse" message="tns:IBWQS_GroupBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IBWQS/GetGroupResult" message="tns:IBWQS_GetGroupResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBWQS/GetGroupResultResponse" message="tns:IBWQS_GetGroupResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBWQS" type="tns:IBWQS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Initialize">
      <soap:operation soapAction="http://tempuri.org/IBWQS/Initialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IBWQS/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Where">
      <soap:operation soapAction="http://tempuri.org/IBWQS/Where" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderBy">
      <soap:operation soapAction="http://tempuri.org/IBWQS/OrderBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderByDescending">
      <soap:operation soapAction="http://tempuri.org/IBWQS/OrderByDescending" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupBy">
      <soap:operation soapAction="http://tempuri.org/IBWQS/GroupBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupResult">
      <soap:operation soapAction="http://tempuri.org/IBWQS/GetGroupResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BWQS">
    <wsdl:port name="BasicHttpBinding_IBWQS" binding="tns:BasicHttpBinding_IBWQS">
      <soap:address location="http://localhost:4165/BWQS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>