BWQSClient/BWQSClient/Web References/BWQS/BWQS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Linq.Dynamic.BitWise.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Linq.Dynamic.BitWise.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GroupResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Values" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupResult" nillable="true" type="tns:GroupResult" />
</xs:schema>