BWQS Client/BWQS Client/Web References/BWQS/BWQS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Initialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packedAssemblyBuffer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="packedDataSource" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bwqExpr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serialType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Where">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bwqExpr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serialType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhereResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bwqExpr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serialType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderByResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderByDescending">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bwqExpr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serialType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderByDescendingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderByDescendingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>